* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E6D9CE;
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    color: #294866;
}

.code {
    color: #8892B0;
    font-family: monospace;
}

.nav-section {
    background: #f8efe7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;

}
.nav-section .links {
    display: flex;
}

.nav-section a {
    text-decoration: none;
    padding: 5px 20px;
    color: #294866;
    position: relative;
}
.nav-section .links a:last-child {
    margin-right: 20px;
}
.nav-section .links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0%;
    height: 2px; /* Height of the underline */
    background-color: #294866; /* Colour of the underline */
    transition: width 0.3s ease-out;
}
.nav-section .links a:hover::before {
    width: 80%;
}
.nav-section img {
    max-height: 20px;
}

.profile-section {
    /* background-color: aquamarine; */
    /* border: 2px solid greenyellow; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 50px 0px;
}

.profile-text {
    /* background-color: pink; */
    /* border: 2px solid red; */
    text-align: left;
    padding: 50px;
    max-width: 550px;
}
.profile-text .name-heading {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 10px;
}
.profile-text #sub-heading {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    transition: opacity 1s ease-in-out;
}

.profile-image-section {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-section {
    background: #528691;
    display: flex;
    flex-direction: column;
    color: #E6D9CE;
    padding: 30px;
}
.about-me-section h1 {
    font-weight: 700;
    /* font-size: 64px; */
}
.about-me-intro {
    /* background: blue; */
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 50px
}
.about-me-intro h1 {
    padding-bottom: 10px;
}

.skills-section {
    /* background: purple; */
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
}
.skills-content {
    border: 2px solid greenyellow;
}
.skills-grid {
    border: 2px solid orange;
    display: grid;
    grid-template-columns: [col-start] repeat(3, 250px [col-start]);
    grid-template-rows: [row-start] repeat(3, 150px [row-start]);
    text-align: center;
    justify-items: stretch;
    gap: 75px 30px;
    position: relative;
}
.skill-card {
    border: 2px solid green;
    position: relative;
}
.skill-card i {
    font-size: 40px;
}
.skill-card h4 {
    padding: 10px 0px;
}


.skill-card {
    background-color: #8a5291;
    position: relative;
    /* overflow: hidden; */
}

.skill-card p {
    position: absolute;
    top: 0; /* Position it below the skill card */
    left: 0;
    width: 100%; /* Full width */
    padding: 10px;
    opacity: 0;
    z-index: 1; /* Ensure it appears above other elements */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transition effect for sliding and opacity */
    transform: translateY(100%); /* Initially slide down */

}

.skill-card i {
    transition: transform 0.3s ease-in-out; /* Transition effect for icon */
}

.skill-card h4 {
    transition: transform 0.3s ease-in-out; /* Transition effect for title */
}

.skill-card:hover i,
.skill-card:hover h4 {
    transform: translateY(-75px);
}

.skill-card:hover p {
    display: block; /* Show the description when hovering over the skill card */
    transform: translateY(0); /* Slide description up */
    opacity: 1; /* Make description fully visible */
}

.skills-grid:hover .skill-card:not(:hover) {
    filter: blur(5px);
}



.passions-section {
    background: blueviolet;
}

.studies-section {
    background: violet;
}

.projects-section {
    background: #BAF4FF;
}