* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #172d67;
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    color: #F5F5DC;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

.code {
    color: #8892B0;
    font-family: monospace;
}

.nav-section {
    background: #f8efe7;
    background: #172d67;
    margin-top: 20px;
    /* border-radius: 50px; */
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 100px 10px #000;
}
.nav-section button {
    background: none;
    display: none;
    outline: none;
    border: none;
    font-size: 16px;
}
.nav-section button:hover {
    background: none;
    cursor: pointer;
}
.nav-section .links {
    display: flex;
    flex-direction: row;
}
.nav-section .links a {
    text-decoration: none;
    padding: 5px 20px;
    color: #F5F5DC;
    position: relative;
}
.nav-section .links a:last-child {
    margin-right: 20px;
}
.nav-section .links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0%;
    height: 2px;
    background-color: #F5F5DC;
    transition: width 0.3s ease-out;
}
.nav-section .links a:hover::before {
    width: 80%;
}
.nav-section img {
    max-height: 20px;
}

hr {
    border: 0.5px solid #F5F5DC; /* Example border style */
    width: 90vw;
    align-self: center;
    margin: 50px auto;
}


.profile-section {
    /* background-color: aquamarine; */
    /* border: 2px solid greenyellow; */
    background-image: linear-gradient(to top, #172d67, #8b15e9);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding: 250px 0 100px 0;
}

.profile-text {
    /* background-color: pink; */
    /* border: 2px solid red; */
    text-align: left;
    padding: 50px;
    max-width: 550px;
}
.profile-text .name-heading {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 10px;
}
.profile-text #sub-heading {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    transition: opacity 1s ease-in-out;
    padding-bottom: 25px;
}

.profile-text .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-text .bord {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.profile-text .bord::after, 
.profile-text .bord::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: conic-gradient(
        transparent, transparent, transparent, #15ff00);
    transition: transform 0s; /* Ensures no animation by default */
    animation: animate 6s linear infinite;
    animation-play-state: running; /* Pause animation initially */
}

.profile-text .bord::before {
    rotate: 180deg;
    background-image: conic-gradient(
        transparent, transparent, transparent, #00ccff);
}
.profile-text .bord:hover::after {
    animation-play-state: paused; /* Play animation on hover */
    
}
.profile-text .bord:hover::before {
    animation-play-state: paused; /* Play animation on hover */
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.profile-text .bord span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 2px;
    border-radius: 3rem;
    background: transparent;
    background-image: linear-gradient(to bottom, #37208b, #2c2380);
    z-index: 3;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.profile-text a {
    /* background: #fff; */
    border: 2px solid greenyellow;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 3rem;
}

.profile-image-section {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------- Project Section ----------------------------- */

.projects-section {
    /* border: 2px solid cyan; */
    background-image: linear-gradient(to bottom, #172d67, #8b15e9);
    background: #172d67;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.project {
    /* border: 2px solid blueviolet; */
    margin: 25px 0;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-hook {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    /* position: relative;
    overflow: hidden; */
}
.projects-section h1 {
    font-size: 56px;
}
.project-hook h2 {
    padding-bottom: 10px;
    font-size: 30px;
}
.project-hook-text {
    /* border: 2px solid yellow; */
    max-width: 500px;
    margin: 0px 20px;
}

.project-sep {
    opacity: 0.5;
}

.project .expansion {
    /* border: 2px solid red; */
    padding-top: 20px;
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    
    transition: height 0.3s ease;
}

.project .splitter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.project .splitter .split {
    /* border: 2px solid orchid; */
    width: 40%;
    max-width: 75%;
    min-width: 400px;
    text-align: justify;
}

.project h3 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 26px;
}

.expansion ul {
    list-style: disc inside;
}

.expansion li {
    margin-bottom: 20px;
}

.expansion li ul {
    list-style: circle inside;
    margin-left: 20px;
}

.expansion ol {
    list-style: decimal outside;
    padding-left: 1.5em;
}

.arrow {
    cursor: pointer;
    font-size: 36px;
}

.arrow.expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, #172d67);
}
.arrow.contract {
    bottom: 0;
    left: 50%;
    display: none;
    /* transform: translate(-50%); */
}


/* ------------------- Carousels ------------------- */

.carousel-container {
    /* border: 2px solid red; */
    width: 700px;
}
.carousel {
    /* border: 2px solid green; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    /* height: 400px; */
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    aspect-ratio: 700/400;
}
.slider {
    /* border: 2px solid orange; */
    height: 100%;
    display: flex;
    /* width: 400%; */
    transition: all 0.3s ease;
    flex-shrink: 0;
}
.slider section {
    flex-basis: 25%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 25%;
}
.slider section img, video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.arrow.prev {
    left: 10px;
}
.arrow.next {
    right: 10px;
}
.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.controls ul li {
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: 10px;
    background: #333;
    /* cursor: pointer; */
}
.controls ul li.selected {
    background: transparent;
}

.sep {
    /* border: 2px solid green; */
    padding: 25px 0;
    background-image: linear-gradient(to bottom, #172d67, #410f6a);
}
.sep hr {
    border: none;
}

/* ----------------------------- About Me Section ----------------------------- */

.about-me-section {
    background: #410f6a;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
.about-me-section h1, h2{
    /* background: blue; */
    text-align: center;
    font-size: 80px;
    letter-spacing: 0.2em;
    font-weight: 700;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 75px;
}

.intro {
    text-align: center;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
}
h2, i {
    font-size: 48px;
    letter-spacing: normal;
    padding: 0;
    text-align: center;
}

/* ----------------------------- Studies Section ----------------------------- */

.studies-section {
    /* border: 2px solid gold; */
    background-image: linear-gradient(to bottom, #410f6a, #8b15e9);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.studies-section .intro p {
    padding: 25px 0;
}

.studies-section .container {
    /* border: 2px solid darkorange; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 50px;
}


.degree {
    /* border: 2px solid cyan; */
    width: 500px;
    display: flex;
    flex-direction: column;
}
.degree h3, i {
    padding-bottom: 10px;
    text-align: center;
}

.course h4 {
    padding-top: 15px;
    padding-bottom: 5px;
}

/* ----------------------------- Skills Section ----------------------------- */

/* .skilll {
    align-self: center;
    width: 160px;
    height: 160px;
    position: relative;
}
.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}
.inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 460;
    stroke-dashoffset: 460;
    animation: anim 1s linear forwards;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim {
    100% {
        stroke-dashoffset: calc(460*0.65);
    }
} */

.skills-section {
    background-image: linear-gradient(to top, #0a1c84, #8b15e9);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 25px 0 50px 0;
    flex-wrap: wrap;
}

.skills-content {
    /* border: 2px solid greenyellow; */
    margin: 0;
    padding: 0;
    width: 750px;
}
.skills-row {
    /* border: 2px solid orange; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}
.skills-row:first-child {
    margin: 0;
}
.skill-card {
    /* border: 2px solid green; */
    border-radius: 5px;
    width: 200px;
    transition: filter 0.3s ease; /* Add transition for smooth effect */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    
}
.skill-card i {
    font-size: 40px;
}
.skill-card h4 {
    padding-top: 10px;
}
.skill-card p {
    display: none;
}
.skill-card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.skill-card.blur {
    filter: blur(1px); /* Apply blur effect to blurred cards */
}

.skills-content .expansion {
    background: #3B5F67;
    display: flex;
    overflow: hidden;
    height: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    transition: height 0.3s ease;
    padding: 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ----------------------------- Passions Section ----------------------------- */

.passions-section {
    /* border: 5px solid green; */
    background-image: linear-gradient(to bottom, #0a1c84, #15e923);
    background: #0a1c84;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 75px);
}
.title {
    /* border: 2px solid cyan; */
    grid-area: 4 / 3 / span 2 / span 6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
}


.passion {
    /* border: 2px solid blue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.holder i {
    font-size: 36px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.passion h1 {
    width: 100%;
    font-size: 24px;
    letter-spacing: normal;
    padding: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}
.passions-section .description {
    position: absolute;
    transition: opacity 0.3s ease; /* Add transition for smooth fading */
    top: 50%; /* Position description at the center vertically */
    left: 50%; /* Position description at the center horizontally */
    transform: translate(-50%, -50%);
    opacity: 0;
}
.holder:hover .description {
    opacity: 1;
}
.holder:hover h1, .holder:hover i {
    opacity: 0;
}

.snowboarding {
    grid-area: 1 / 2 / span 2 / span 2;
}
.coding {
    grid-area: 1 / 6 / span 2 / span 2;
}
.reading {
    grid-area: 2 / 4 / span 2 / span 2;
}
.travel {
    grid-area: 2 / 8 / span 2 / span 2;
}
.music {
    grid-area: 4 / 1 / span 2 / span 2;
}
.basketball {
    grid-area: 5 / 9 / span 2 / span 2;
}
.fitness {
    grid-area: 6 / 2 / span 2 / span 2;
}
.robotics {
    grid-area: 6 / 7 / span 2 / span 2;
}
.socialising {
    grid-area: 7 / 5 / span 2 / span 2;
}
.camping {
    grid-area: 8 / 3 / span 2 / span 2;
}
.gaming {
    grid-area: 8 / 8 / span 2 / span 2;
}




/* ----------------------------- Responsive Window ----------------------------- */

@media screen and (max-width: 1050px) {
    .skills-section {
        gap: 20px;
    }
}

@media screen and (max-width: 775px) {
    .code {
        display: none;
    }
    .about-me-intro {
        max-width: 80%;
    }

    .skills-row {
        gap: 0;
    }
    .skill-card {
        width: 150px;
    }

    .skills-row:first-child {
        margin-top: 0;
    }

    .nav-section button {
        display: inline;
    }

    .nav-section .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #f8efe7;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-section .links a {
        width: 100%;
        display: block;
        padding: 10px 0;
        border-radius: 5px;
    }
    .nav-section .links a:hover {
        background: #CDC5BF;
    }

    .nav-section .links a::before {
        display: none;
    }
    .nav-section .links.show {
        display: flex;
    }
}
@media screen and (max-width: 575px) {
    .skills-section {
        padding: 10px;
    }
    .skill-card {
        width: 100px;
    }
    .skill-card i {
        font-size: 20px;
    }
    .skill-card h4 {
        font-size: 12px;
        padding: 5px 0px;
    }
}

@media screen and (max-width: 425px) {
    .about-me-section {
        padding: 0;
    }
}